@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  ::selection {
    background-color: #3d94ff42;
  }
}

@layer components {
  .sparkle-wrapper {
    position: absolute;
    display: block;
    animation: comeInOut 700ms forwards;
  }

  .sparkle-svg {
    display: block;
    animation: spin 1000ms linear infinite;
  }

  @keyframes comeInOut {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }
}
