@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  ::selection {
    background-color: #3d94ff42;
  }
}

@layer components {
  .bg-inherit {
    background: inherit;
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
